<html>
        <head>
        </head>
        <body>
            <header>
              <h1>{{ toCapital title }}</h1>
            </header>
            <p>
               i am User page
            </p>
           {{> footer }}
        </body>
    </html>